<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Public oldal</div>
      <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/home']">Home</a>
          <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/login']">Login</a>
          <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/first']">Lobby</a>  
          <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/store']">Store</a>
          <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/second']">User Privilige</a>
      </div>
  </div>
  <!-- Page Content-->
  <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                      <a class="nav-link" href="#!">
                          Home
                          <span class="sr-only">(current)</span>
                      </a>
                  </li>
                  
                  <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                  <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                       Profile<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                      <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
                      <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
                    </div>
                  </li>
                  
                  
              </ul>
          </div>
      </nav>
      <div class="container-fluid">
        <router-outlet></router-outlet>

      </div>
  </div>
</div>
